header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: fixed;
  height: 8%;
  color: white;
}

header h2 {
  padding-top: 10px;
  padding-left: 15px;
}

.material-icons {
  padding-right: 10px;
}
