<ion-content>
    <ion-grid fixed>
        <ion-row style="height: 100%; display: flex; align-items: center; justify-content: center;">
            <ion-col size-xs="10" size-sm="10" size-md="8" size-lg="6">
                <ion-card>
                    <ion-card-header>
                        <ion-card-title class="ion-text-center">Iniciar sesión con Google</ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                        <div id="buttonDiv" #googleBtn class="boton-google"></div>
                    </ion-card-content>
                </ion-card>
            </ion-col>
            
        </ion-row>
    </ion-grid>
    
</ion-content>