<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-row class="ion-justify-content-center">
    <ion-col size="3">
      <div>1 of 2</div>
    </ion-col>
    <ion-col size="3">
      <div>2 of 2</div>
    </ion-col>
  </ion-row>

  <ion-grid>
    <ion-row>
      <ion-col size="3">
        <div>1 of 2</div>
      </ion-col>
      <ion-col size="3" offset="6">
        <div>2 of 2</div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>

      <ion-col size="12" size-lg="3" size-md="4" size-sm="6"
        *ngFor="let item of [1,1,1,1,1,1,1,1,1,1,1,1]; let i=index;">

        <div>{{ i + 1 }} of 12</div>

        <ion-card>
          <ion-img
            src="https://img.freepik.com/foto-gratis/hermoso-arbol-medio-campo-cubierto-hierba-linea-arboles-fondo_181624-29267.jpg?t=st=1652223301~exp=1652223901~hmac=1adb11d16a376fd6da47fdb33b9a2836fe2a052e65753f51887dc994541759fd&w=900">
          </ion-img>
        </ion-card>

        <ion-card-header>
          <ion-card-subtitle>Awesome Subtitle</ion-card-subtitle>
          <ion-card-title>Awesome Title</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iste reiciendis accusamus natus, ducimus fugit
          voluptatibus. Minus, harum. Aliquam quos aspernatur itaque debitis ad magni odit, temporibus, fugiat
          dignissimos placeat beatae!
        </ion-card-content>
      </ion-col>


    </ion-row>
  </ion-grid>
</ion-content>
