<app-header titulo="Perfil"></app-header>
<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col>

        <ion-avatar>
          <img src="{{usuario.img}}">
        </ion-avatar>

        <ion-title>{{usuario.nombre}}</ion-title>
      <!-- TODO: Obtener subscripcion endpoint -->
       <ion-card-subtitle *ngIf="this.usuario.rol === 'ADMINISTRADOR'">{{usuario.rol}}</ion-card-subtitle>

      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>

        <ion-card>
          <ion-card-header class="opcion-menu-perfil">
            <ion-icon name="analytics-outline" class="icon-opcion-menu-perfil"></ion-icon>
            <ion-card-title>Subscripción</ion-card-title>
            <ion-icon name="arrow-forward-outline"></ion-icon>
          </ion-card-header>
        </ion-card>

        <ion-card>
          <ion-card-header class="opcion-menu-perfil">
            <ion-icon name="create-outline" class="icon-opcion-menu-perfil"></ion-icon>
            <ion-card-title>Editar información</ion-card-title>
            <ion-icon name="arrow-forward-outline"></ion-icon>
          </ion-card-header>
        </ion-card>

        <ion-card>
          <ion-card-header class="opcion-menu-perfil">
            <ion-icon name="help-circle-outline" class="icon-opcion-menu-perfil"></ion-icon>
            <ion-card-title>Consultas</ion-card-title>
            <ion-icon name="arrow-forward-outline"></ion-icon>
          </ion-card-header>
        </ion-card>

        <ion-card *ngIf="this.usuario.rol === 'ADMINISTRADOR'">
          <ion-card-header class="opcion-menu-perfil" [routerLink]="panelDeControl">
            <ion-icon name="bar-chart-outline" class="icon-opcion-menu-perfil"></ion-icon>
            <ion-card-title>Panel de control</ion-card-title>
            <ion-icon name="arrow-forward-outline"></ion-icon>
          </ion-card-header>
        </ion-card>

        <ion-card>
          <ion-card-header class="opcion-menu-perfil" (click)="logout()">
            <ion-icon name="key-outline" class="icon-opcion-menu-perfil"></ion-icon>
            <ion-card-title>Cerrar sesión</ion-card-title>
            <span></span>
          </ion-card-header>
        </ion-card>


      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>
