<ion-content>
    <ion-grid fixed>
        <ion-row>
            <ion-col size="12">
                <app-banner icono="people-outline" titulo="Usuarios"></app-banner>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="6">
                <app-usuarios-component></app-usuarios-component>
            </ion-col>
            <ion-col size="6">
                <app-roles></app-roles>
            </ion-col>
            <ion-col size="6">
                <app-subscriptores></app-subscriptores>
            </ion-col>
            <ion-col size="6">
                <app-subscripciones></app-subscripciones>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>