<ion-menu contentId="main" menuId="menuPrincipal" side="start" type="overlay">
    <ion-content>
        <ion-menu-toggle>
        <ion-list>
            <ion-item routerLink="/dashboard/usuarios">
                <ion-icon name="people-outline" slot="start"></ion-icon>
                <ion-label>Usuarios</ion-label>
            </ion-item>
            <ion-item routerLink="/dashboard/articulos">
                <ion-icon name="reader-outline" slot="start"></ion-icon>
                <ion-label>Artículos</ion-label>
            </ion-item>
            <ion-item routerLink="/dashboard/cursos">
                <ion-icon name="videocam-outline" slot="start"></ion-icon>
                <ion-label>Cursos</ion-label>
            </ion-item>
            <ion-item routerLink="/dashboard/aplicaciones">
                <ion-icon name="logo-apple-ar" slot="start"></ion-icon>
                <ion-label>Aplicaciones</ion-label>
            </ion-item>
        </ion-list>
        </ion-menu-toggle>
    </ion-content>
</ion-menu>