<ion-header>
  <ion-toolbar>
    <ion-icon name="arrow-back-outline" slot="start" (click)="salirSinArgumentos()"></ion-icon>
    <ion-title *ngIf="usuarioId">{{usuario.nombre}}</ion-title>
    <ion-title *ngIf="!usuarioId">Nuevo usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-card>
    <ion-card-content>

      <ion-button expand="block" fill="clear" shape="round" color="success" (click)="activarUsuario(usuario.uid)" *ngIf="usuario && usuario.estado == false">
        Activar usuario
      </ion-button>

      <form (ngSubmit)="guardar()" autocomplete="off" [formGroup]="usuarioFormulario">

        <ion-item>
          <ion-label>Nombre completo</ion-label>
          <ion-input type="text" placeholder="Nombre completo" formControlName="nombre"></ion-input>
          <ion-label *ngIf="campoEsValido('nombre')" style="color:red;">Nombre no válido</ion-label>
        </ion-item>

        <ion-item>
          <ion-label>Correo de Gmail</ion-label>
          <ion-input type="text" placeholder="Gmail" formControlName="correo"></ion-input>
        </ion-item>


        <input type="text" formControlName="img" style="display: none;">


        <ion-item>
          <ion-label>Rol</ion-label>
          <ion-select value="USER_ROLE" multiple="false" placeholder="Selecione un rol" formControlName="rol">
            <ion-select-option [value]="rol.rol" *ngFor="let rol of roles">{{rol.rol}}</ion-select-option>
          </ion-select>
        </ion-item>


        <ion-button expand="block" fill="clear" shape="round" type="submit">
          Guardar
        </ion-button>

      </form>

    </ion-card-content>
  </ion-card>

</ion-content>