<ion-card>
  <ion-card-header>
    <ion-card-title class="ion-text-center" style="margin-bottom: 15px;">Cuentas de usuarios</ion-card-title>
    <ion-segment value="activos" (ionChange)="segmentChanged($event)">

      <ion-segment-button value="activos">
        <ion-label>Activos</ion-label>
      </ion-segment-button>

      <ion-segment-button value="borrados">
        <ion-label>Borrados</ion-label>
      </ion-segment-button>

    </ion-segment>
  </ion-card-header>
  <ion-card-content>
    <ion-toolbar>
      <ion-searchbar placeholder="Buscar usuarios" animated mode="ios" (ionChange)="onSearchChange($event)">
      </ion-searchbar>
    </ion-toolbar>

    <ion-list>
      <ion-item *ngFor="let usuario of usuarios | filtro:textoBuscar:segmento">
        <ion-label>{{usuario.correo}}</ion-label>
        <ion-label>{{usuario.nombre}}</ion-label>
      </ion-item>

    </ion-list>
  </ion-card-content>
</ion-card>