ion-item {
  --background: white;
}

ion-input {
  width: 20%;
}

.fondo-lista {
  background-color: blue;
}

ion-grid {
  height: 100%;
}

ion-item {
  margin-bottom: 1em;
}

ion-item ion-label{
  color: black !important;
}

ion-item ion-label ion-input{
  color: black !important;
}

ion-input {
  color: black !important;
}

img {
  width: auto;
  margin: auto;
  display: block;
  margin-bottom: 1em;
  margin-top: 40%;
}


.titulo-logo {
  display: flex;
  justify-content: center;
  margin-bottom: 1em;
}
