<ion-header>
  <ion-toolbar>
    <ion-icon name="arrow-back-outline" slot="start" (click)="salirSinArgumentos()"></ion-icon>
    <ion-title *ngIf="articulo">{{articuloFormulario.value.titulo | uppercase}}</ion-title>
    <ion-title *ngIf="!articulo">Nuevo artículo</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>

  <ion-card>
    <ion-card-content>

      <form (ngSubmit)="guardar()" autocomplete="off" [formGroup]="articuloFormulario">

        <ion-item>
          <ion-label>Título: </ion-label>
          <ion-input type="text" placeholder="Título" formControlName="titulo"></ion-input>
          <ion-label *ngIf="campoEsValido('titulo')" style="color:red;">Título no válido</ion-label>
        </ion-item>

        <ion-item>
          <img src="https://i.imgur.com/qzK8YMK.jpg" alt="" width="100%" height="100%"
            *ngIf="articuloFormulario.value.portada == '' || articuloFormulario.value.portada == null">
          <img [src]="articuloFormulario.value.portada" alt="" width="100%" height="100%"
            *ngIf="articuloFormulario.value.portada != '' || articuloFormulario.value.portada != null">
        </ion-item>

        <ion-item>
          <ion-label>URL Portada: </ion-label>
          <ion-input type="text" placeholder="URL foto de portada" formControlName="portada"></ion-input>
          <ion-label *ngIf="campoEsValido('portada')" style="color:red;">Portada no válida</ion-label>
        </ion-item>

        <ion-item>
          <ion-label>Breve descripción: </ion-label>
          <ion-input type="text" placeholder="Descripción corta" formControlName="descripcionCorta"></ion-input>
          <ion-label *ngIf="campoEsValido('descripcionCorta')" style="color:red;">Descripción no válida</ion-label>
        </ion-item>


        <ion-item>
          <ion-label>Contenido: </ion-label>
          <ion-input type="text" placeholder="Contenido del artículo" formControlName="contenido"></ion-input>
          <ion-label *ngIf="campoEsValido('contenido')" style="color:red;">Contenido no válido</ion-label>
        </ion-item>


        <ion-button expand="block" fill="clear" shape="round" type="submit">
          Guardar
        </ion-button>

        <div *ngIf="articulo">
          <ion-button expand="block" fill="clear" shape="round" color="success" (click)="listarArticulo(articulo._id)"
            *ngIf="articulo.estado == true && articulo.terminado == false">
            Guardar como terminado
          </ion-button>

          <ion-button expand="block" fill="clear" shape="round" color="warning" (click)="guardarBorrador(articulo._id)"
            *ngIf="articulo.estado == true && articulo.terminado == true">
            Guardar como borrador
          </ion-button>

          <ion-button expand="block" fill="clear" shape="round" color="success" (click)="activarArticulo(articulo._id)"
            *ngIf="articulo && articulo.estado == false">
            Activar Artículo
          </ion-button>
        </div>

      </form>

    </ion-card-content>
  </ion-card>
</ion-content>