<ion-card>
  <ion-card-header>
    <ion-card-title class="ion-text-center" style="margin-bottom: 15px;">Subscriptores</ion-card-title>
    <ion-segment value="activos" (ionChange)="segmentChanged($event)">

      <ion-segment-button value="activos">
        <ion-label>Activos</ion-label>
      </ion-segment-button>

      <ion-segment-button value="borrados">
        <ion-label>Borrados</ion-label>
      </ion-segment-button>

    </ion-segment>
  </ion-card-header>
  <ion-card-content>

    <ion-toolbar>
      <ion-searchbar placeholder="Buscar subscriptores" animated mode="ios" (ionChange)="onSearchChange($event)">
        <ion-icon name="person-add-outline" style="font-size: 1.5em;margin-right: 10px;" (click)="nuevoSubscriptor()"></ion-icon>
      </ion-searchbar>
    </ion-toolbar>

    <ion-list>
      <ion-item *ngFor="let subscriptor of subscriptores| subscriptoresPipe:textoBuscar:segmento">
        <ion-label>{{subscriptor.usuario.correo }}</ion-label>
        <ion-icon name="create-outline" (click)="editarSubscriptor(subscriptor)"></ion-icon>
        <ion-icon name="trash-outline" *ngIf="segmento=='activos'" (click)="borrarSubscripcion(subscriptor)"></ion-icon>
      </ion-item>
    </ion-list>

  </ion-card-content>
</ion-card>