<ion-card>
  <ion-card-header>
    <ion-card-title class="ion-text-center" style="margin-bottom: 15px;">Subscripciones</ion-card-title>
    <ion-segment value="activos" (ionChange)="segmentChanged($event)">

      <ion-segment-button value="activos">
        <ion-label>Activas</ion-label>
      </ion-segment-button>

      <ion-segment-button value="borrados">
        <ion-label>Borradas</ion-label>
      </ion-segment-button>

    </ion-segment>
  </ion-card-header>
  <ion-card-content>

    <ion-toolbar>
      <ion-searchbar placeholder="Buscar subscripciones" animated mode="ios" (ionChange)="onSearchChange($event)">
        <ion-icon name="cart-outline" style="font-size: 1.5em;margin-right: 10px;" (click)="nuevaSubscripcion()"></ion-icon>
      </ion-searchbar>
    </ion-toolbar>

    <ion-list>
      <ion-item *ngFor="let subscripcion of subscripciones| subscripcionesPipe:textoBuscar:segmento">
        <ion-label>{{subscripcion.titulo | uppercase}}</ion-label>
        <ion-icon name="create-outline" (click)="editarSubscripcion(subscripcion)"></ion-icon>
        <ion-icon name="trash-outline" *ngIf="segmento=='activos'" (click)="borrarSubscripcion(subscripcion)"></ion-icon>
      </ion-item>
    </ion-list>

  </ion-card-content>
</ion-card>