.mensaje-error {
  color: red;
}


.flecha-volver {
  font-size: 1.3em;
  margin-left: 1em;
  cursor: pointer;
}


ion-icon {
  cursor: pointer;
}

ion-icon:hover {
  color: #3880FF;
}

ion-searchbar {
  margin-top: .5em;
}

ion-icon {
  font-size: 2em;
  padding: 10px;
}


.btnPublicar{
  margin-bottom: .5em;
  margin-left: .5em;
}

.categorias-subscriciones{
  padding: 5px;
  color: black;
}