<ion-header>
  <ion-toolbar>
    <ion-icon name="arrow-back-outline" slot="start" class="flecha-volver" (click)="salirSinArgumentos()"></ion-icon>

    <ion-title class="ion-text-capitalize" slot="start" *ngIf="nuevoArticuloFormulario.value.titulo == ''">
      Nuevo artículo
    </ion-title>

    <ion-title class="ion-text-capitalize" slot="start" *ngIf="nuevoArticuloFormulario.value.titulo != ''">
      {{ nuevoArticuloFormulario.value.titulo }}
    </ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>

  <form [formGroup]="nuevoArticuloFormulario">
    <ion-card>
      <ion-input type="text" placeholder="Título del nuevo artículo" formControlName="titulo"></ion-input>
    </ion-card>
    <ion-card>
      <ion-input type="text" placeholder="Portada del nuevo artículo" formControlName="portada"></ion-input>
    </ion-card>
    <ion-card>
      <editor [init]="{ plugins: 'lists link image table code help wordcount', language: 'es' }"
        apiKey="0wi32zftfgdcov537usjemm66309jf39xbh8bi4cq5fggh0h" formControlName="contenido"></editor>
    </ion-card>
    <ion-card class="categorias-subscriciones">
      <ion-label>Categorías:</ion-label>
      <ion-select multiple="true" placeholder="Seleccione las caegorias a la que pertenece" expand="block" formControlName="categorias">
        <ion-select-option *ngFor="let categoria of categorias" [value]="categoria.nombre">{{categoria.nombre}}
        </ion-select-option>
      </ion-select>
    </ion-card>

    <ion-button (click)="guardar()" class="btnPublicar">
      Publicar
    </ion-button>

  </form>


</ion-content>