<ion-header class="ion-no-border" translucent>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button defaultHref="/perfil" color="primary">
      </ion-back-button>
    </ion-buttons>


    <ion-title class="ion-text-capitalize">
      Panel de control
    </ion-title>

  </ion-toolbar>
</ion-header>
<ion-content>

  <ion-grid>

    <ion-row>
      <ion-col>

        <ion-card [routerLink]="'usuarios-listado'">
          <ion-card-header class="opcion-menu-perfil">
            <ion-icon name="analytics-outline" class="icon-opcion-menu-perfil"></ion-icon>
            <ion-card-title>Usuarios</ion-card-title>
            <ion-icon name="arrow-forward-outline"></ion-icon>
          </ion-card-header>
        </ion-card>

        <ion-card [routerLink]="'articulos-listado'">
          <ion-card-header class="opcion-menu-perfil">
            <ion-icon name="book-outline" class="icon-opcion-menu-perfil"></ion-icon>
            <ion-card-title>Artículos</ion-card-title>
            <ion-icon name="arrow-forward-outline"></ion-icon>
          </ion-card-header>
        </ion-card>

        <ion-card [routerLink]="'usuarios-listado'">
          <ion-card-header class="opcion-menu-perfil">
            <ion-icon name="albums-outline" class="icon-opcion-menu-perfil"></ion-icon>
            <ion-card-title>Cursos</ion-card-title>
            <ion-icon name="arrow-forward-outline"></ion-icon>
          </ion-card-header>
        </ion-card>

      </ion-col>
    </ion-row>

  </ion-grid>

</ion-content>
