<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Innovance Finance
    </ion-title>
    <ion-text color="primary" slot="end" style="margin-right: 10px;" *ngIf="wsService.socketStatus">
      Servidor conectado
    </ion-text>
    <ion-text color="danger" slot="end" style="margin-right: 10px;" *ngIf="!wsService.socketStatus">
      Servidor desconectado
    </ion-text>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-chat></app-chat>
  
</ion-content>