.menu-principal {
  display: grid;
  grid-template: 1fr / repeat(4, 1fr);
  place-items: center;
  height: 3em;
  bottom: 0;
  position: fixed;
  width: 100%;
  background-color: #0C1633;
  color: #6780A3;
  padding-top: 2%;
  padding-bottom: 2%;
}

.menu-principal li {
  list-style: none;
  display: grid;
  grid-template: repeat(2, 1fr) / 1fr;
  place-items: center;
}

.menu-principal li:hover {
  color: #96C73F;
}
